---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
};

const { entry } = Astro.props as {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
};

const imgUrl: { [key: string]: string } = {
  //Prenda projects
  "Create projects - Prenda": "/create.png",
  "Checkr background check integrations - Prenda":
    "/checkr-background-checks.png",
  "Memory Challenge - Prenda": "/memory-challenge-math.png",
  "Student portfolios - Prenda": "/portfolio.png",

  // other projects
  "Unexpected Frequency": "/unexpected-frequency-logo.png",
  "Ghostmail.dev": "/ghostmail-dark.png",

  // Blog posts
  "Resources for post-bootcamp software engineers looking for work":
    "https://miro.medium.com/v2/resize:fit:4800/format:webp/1*SrWCMwnlCwOX-5-jZSVjuQ.jpeg",
  "LinkedIn featured link preview images not showing up?? Try this.":
    "https://miro.medium.com/v2/resize:fit:4800/format:webp/1*4JVYAR4ZzvCr4mzRtUysjg.png",
  "Working at an EdTech startup":
    "https://images.unsplash.com/photo-1588072432836-e10032774350?q=80&w=2944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
  "HackerRank’s Counting Valleys Challenge Simple Javascript Solution":
    "https://miro.medium.com/v2/resize:fit:2000/format:webp/1*cpIAcfyfCpdy-BKgLFTirA.jpeg",
};
---

<a
  href={`/${entry.collection}/${entry.slug}`}
  class="not-prose group relative flex flex-nowrap rounded-lg border border-black/15 px-4 py-3 pr-10 transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
>
  <div class="flex flex-1 flex-row truncate">
    <img
      src={imgUrl[entry.data.title]}
      alt={entry.data.title}
      class="h-24 min-w-24 max-w-24 rounded-lg object-cover"
      style="object-position: center;"
    />
    <div class="flex flex-col truncate px-6">
      <div class="font-semibold">
        {entry.data.title}
      </div>
      <div class="text-sm">
        {entry.data.description}
      </div>
      <div class="text-xs text-gray-500">
        <FormattedDate date={entry.data.date} />
      </div>
    </div>
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="absolute right-2 top-1/2 size-5 -translate-y-1/2 fill-none stroke-current stroke-2"
  >
    <line
      x1="5"
      y1="12"
      x2="19"
      y2="12"
      class="translate-x-3 scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100 group-focus-visible:translate-x-0 group-focus-visible:scale-x-100"
    ></line>
    <polyline
      points="12 5 19 12 12 19"
      class="-translate-x-1 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-focus-visible:translate-x-0"
    ></polyline>
  </svg>
</a>
